<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Тренажер</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/style_apha.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#" onclick=$("#menu-close").click();>Меню</a>
            </li>
            {% if logged_in %}
{#            <li>#}
{#                <a href="cabinet" onclick=$("#menu-close").click();>Личный кабинет</a>#}
{#            </li>#}
            {% if admin_role %}
            <li>
                <a href="/admin" onclick=$("#menu-close").click();>Панель управления</a>
            </li>
            {% endif %}
            <li>
                <a href="semantics" onclick=$("#menu-close").click();>Семантика</a>
            </li>
            <li>
                <a href="grammar" onclick=$("#menu-close").click();>Грамматика</a>
            </li>
            <li>
                <a href="logout" onclick=$("#menu-close").click();>Выйти</a>
            </li>
            {% else %}
            <li>
                <a href="login" onclick=$("#menu-close").click();>Войти</a>
            </li>
            <li>
                <a href="login" onclick=$("#menu-close").click();>Зарегистрироваться</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div id="header" class="text-vertical-center">
            <h1>Aphasia Trainer</h1>
            {% if logged_in %}
                <br/>
                <span class="welcome">Здравствуйте, {{ name }}!</span><br/>
                <a id="topic" href="grammar" class="btn btn-dark btn-lg">Грамматика</a>
                <a id="topic" href="semantics" class="btn btn-dark btn-lg">Семантика</a>
            {% else %}
                <br/>
                <a id="login-button" href="/login" class="btn btn-dark btn-lg">Войти</a>
                <a id="login-button" href="/register" class="btn btn-dark btn-lg">Зарегистрироваться</a>
            {% endif %}
        </div>
    </header>
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
  
    </script>

</body>

</html>
