<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>Тренажер</title>
    <script src="static/js/jquery.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style_apha.css" rel="stylesheet">
    <link href="static/css/style_topic.css" rel="stylesheet">
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="static/js/script.js"></script>
</head>
<body>
<div id="categories">
    <table id="subcat">
    {% for key, value in topics.items() %}
        <tr>
        <td><input type="button" class="btn btn-lg btn-default" value="{{ value.name }}" taskid="{{ key }}"></td>
        </tr>
    {% endfor %}
        <tr>
            <td><a id="exit" class = "btn btn-lg btn-info" href="index"> На главную </a></td>
        </tr>
    </table>
</div>
<div id="wrapper">
    <div id="sentence"></div>
    <table id="options">
        <tr>
            <td><input type="button" class="btn btn-lg btn-default" value=""></td>
            <td><input type="button" class="btn btn-lg btn-default" value=""></td>
        </tr>
        <tr>
            <td><input type="button" class="btn btn-lg btn-default" value=""></td>
            <td><input type="button" class="btn btn-lg btn-default" value=""></td>
        </tr>
    </table>
    <a id="exit" class = "btn btn-lg btn-info" href="index"> На главную </a>
</div>
</body>
</html>